# call api
# get location from user
# if invalid city/zip alert user and prompt for re-entry
# if valid format url to user location
# get unformatted weather data from site
# access dictionaries to display weather and temperature
# reformat json data for readability
# convert temperature from kelvin to fahrenheit
# display current weather to user and allow them to run again

import requests

api_address = 'http://api.openweathermap.org/data/2.5/weather?appid={APIKey}='
location = input("Please enter your city or zip code: ")
final_url = api_address + location
unformatted_data = requests.get(final_url).json()
weather = unformatted_data["weather"][0]["main"]
kelvin = unformatted_data["main"]["temp"]
temperature = (float(kelvin) * 1.8) - 459.67

print("Sky conditions are currently: ", weather,",and the temperature is ", temperature,"degrees fahrenheit.")

def kelvin_to_fahrenheit(farenheit):
    farenheit = (float(kelvin) * 1.8) - 459.67
    return farenheit
